.main .main, .about .about, .create_user .create_user, .login .login, .compendium .compendium, .user .user {
    color: #FC9;
}

.hpad {
    display: inline-block;
    margin: 0em;
    padding: 0em 1em;
 }
.dpad { padding: 1em; }
.align-right { float: right; }
.high-top { margin-top: 40px; }
body { font-family: Verdana, sans-serif; }
#tricon { margin: -50px 15px -10px -15px; }
h1 {
    color: #FFF;
    background: #000;
    display: inline-block;
    font-family: Georgia, serif;
    font-size: xx-large;
    font-variant: small-caps;
    padding: 0.2em 1em;
}
h2 { font-size: x-large; }
h3 { font-size: large; }
input { font-size: 1em; }
ul { margin-top: 0px; }
label { display: block; }
.errorlist { background: #F9C; }

.blackbar {
    background-color: #000;
    color: #FFF;
    padding: 0.5em 1em;
}
.blackbar>h2 {
    font-family: Georgia, serif;
    font-variant: small-caps;
    margin: 0;
    padding: 0;
}
.blackbar .button {
    margin: -0.2em;
}
.header {
    color: #FFF;
    font-family: Georgia, serif;
    font-variant: small-caps;
}
.header h2 { margin: 0em; }
#h2a {
    padding: 0em 2em 0em 1.5em;
    vertical-align: initial;
}
.header a:hover, a#userlink:hover {
    color: #9CF;
}
.header a {
    background-image: url("/static/white-slash.png");
}
.header a, #userlink {
    background-position: right;
    background-repeat: no-repeat;
    color:inherit;
    display: inline-block;
    margin: 0em -9px 0em 0em;
    padding: 0.3em 2em 0.3em 1.5em;
    text-decoration:none;
    vertical-align: 15%;
}
.header>* {
    background-color: #000;
    display: inline-block;
    padding: 0;
}
.header>span {
    background-image: url("/static/white-slash.png");
    background-position: -9px -0.1em;
    background-repeat: no-repeat;
    margin: 0.2em 0em;
}
#userlink {
    background-image: none;
}
#username_display {
    background: #FFF;
    border: none;
    color: transparent;
    font-size: medium;
    height: 1.15em;
    margin: 0.3em 1em 0.3em 0em;
    text-align: center;
    text-shadow: 0px 0px 0px #000;
    width: 10em;
    vertical-align: 15%;
}

.button {
    border-radius: 12px;
    border-style: solid;
    border-width: 3px;
    display: inline-block;
    font-size: 1em;
    margin: 2px 0px;
    padding: 6px;
    text-decoration: None
}
.green {
    background: #6F6;
    border-color: #090;
    color: #000;
}
.blue {
    background: #66F;
    border-color: #009;
    color: #FFF;
}
.red {
    background: #F66;
    border-color: #900;
    color: #FFF;
}
