.main .main, .about .about, .create_user .create_user, .login .login, .compendium .compendium {
    color: #FC9;
}

.header {
    color: #FFF;
    background: #000;
    font-family: Georgia, serif;
    font-variant: small-caps;
}
.header a:hover {
    color: #9CF;
}
.header a {
    color:inherit;
    text-decoration:none;
}
.header span, .header>a {
    background-image: url("/static/white-slash.png");
    background-repeat: no-repeat;
    background-position: -1px -2px;
    padding: 6px 1em 6px 2em;
    vertical-align: 15%;
}
#username_display {
    background: #FFF;
    border: none;
    color: transparent;
    font-size: medium;
    height: 1.15em;
    margin-left: 1em;
    text-shadow: 0px 0px 0px #000;
    width: 10em;
}

.align-right {
    float: right;
}
.hpad {
    display: inline-block;
    margin: 0em;
    padding: 0em 1em;
 }
.dpad { padding: 1em; }
body { font-family: Verdana, sans-serif; }
h1 {
    font-size: xx-large;
    padding: 0.5em 1em;
}
h2 {
    font-size: x-large;
}

.h1 {
    background: #9DF;
}
.errorlist {
    background: #F9C;
}
