{% extends 'base.html' %}

{% block pagetype %} class="about"{% endblock pagetype %}
    {% block html-head %}
        <link rel="canonical" href="http://classalchemy.pythonanywhere.com/about" />
        <title>Class Alchemy Homepage</title>
    {% endblock html-head %}
    {% block h1 %}<h1>Class Alchemy: About</h1>{% endblock h1 %}

{% block content %}
<p>
    First of all this site is created to be a resource for the RPG game Dungeon World. <strike>Functionally it is generic enough that you can use it for other purposes.</strike> This website is in part inspired by my love for the Class Warfare source book and part by my friends not love for the Class Warfare source book. The goal here is to simplify character creation<strike> by streamlining the choices dynamically created from combining multiple compendium classes without having to look in 4 different places to make a final choice.</strike> Of course you'll have to manually enter all the information first, but learning process/nothing's perfect, whatever.
</p>
    <h2>Preemptively Answered Questions</h2>
<dl>
    <dt>What is DROP TABLES Monday</dt>
    <dd>Don't let the name fool you, it won't always be on a Monday. If you've lost any data due to site updates: then I guess you'll know better next time.</dd>
    <dt>Why can't I enter a password?</dt>
    <dd>Because I don't want to get any emails about how you've lost your password.</dd>
    <dt>Contact Info:</dt>
    <dd>No.</dd>
</dl>
{% endblock content %}

