{% extends 'base.html' %}

{% block pagetype %} class="about"{% endblock pagetype %}
    {% block html-head %}
        <link rel="canonical" href="http://classalchemy.pythonanywhere.com/about" />
        <title>Class Alchemy Homepage</title>
    {% endblock html-head %}
    {% block h1 %}Class Alchemy: About{% endblock h1 %}

{% block content %}
<p>
    First of all this site is created to be a resource for the RPG game Dungeon World. Functionally it is generic enough that you can use it for other purposes. This website is in part inspired by my love for the Class Warfare source book and part by my friends not love for the Class Warfare source book. The goal here is to simplify character creation by streamlining the choices dynamically created from combining multiple compendium classes without having to look in 4 different places to make a final choice. Of course you'll have to manually enter all the information first, but learning process/nothing's perfect, whatever.
</p>
{% endblock content %}

