{% extends 'base.html' %}
{% load staticfiles %}

{% block pagetype %} class="preview"{% endblock pagetype %}

{% block html-head %}
    <link rel="canonical" href="http://classalchemy.pythonanywhere.com/BaseCharacterSheet" />
    <title>Base Dungeon World Character Sheet</title>
    <link rel="stylesheet" type="text/css" href="{% static "print.css" %}">
{% endblock html-head %}

{% block h1 %}{% endblock h1 %}

{% block content %}
    Be sure to use print preview so you can turn on background images and fix other browser printer settings.<br />
    <a href="/print/BaseCharacterSheet">Print Version</a>
    {% include 'basecharacter_text.html' %}
{% endblock content %}
