{% load staticfiles %}
<!DOCTYPE html>
<html lang="en"{% block pagetype %}{% endblock pagetype %}><head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    {% block html-head %}
    <title>Class Alchemy</title>
    {% endblock html-head %}
    <link rel="stylesheet" type="text/css" href="{% static "base.css" %}">
</head><body>

{% block headermenu %}
<div class="header">
    <h2><a href="/" id="h2a" class="main">Class Alchemy</a></h2>
{% if user.is_authenticated %}
    <span><a href="/compendiumclasses/" class="compendium" rel="nofollow">Compendium Classes</a></span>
    <span><a href="/combinedclasses/" class="combined" rel="nofollow">Combined Classes</a></span>
    <span><a href="/characters/" class="character" rel="nofollow">Characters</a></span>
    <span><a href="/logout">Logout</a></span>
    <span id="userbox">
        <a href="/account/" id="userlink">User</a>
        <input type="text" id="username_display" value="{{ user.get_username }}" readonly />
    </span>
{% else %}
    {% include 'submenu.html' %}
    <span><a href="/create_user" class="create_user">Create User</a></span>
    <span><a href="/login" class="login"><span>Login</span></a></span>
    <span id="userbox"><span id="userlink">No User</span> <input type="text" id="username_display" value="" readonly /></span>
{% endif %}
</div>
{% endblock headermenu %}
<div class="mid-body">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% block h1 %}<h1>Hello Dungeon World</h1>{% endblock h1 %}
    {% block content %}
    {% endblock content %}
</div>
</body></html>
