{% extends 'print.html' %}

    {% block html-head %}
        <title>Base Dungeon World Character Sheet</title>
    {% endblock html-head %}

{% block content %}
<div class="p8x11"><div class="white-rounded">

    <span class="half-width align-left" style="width: 80%;">
        <div class="blackdiv"><div class="print-whitebar">
            <span class="blackspan">Name:</span>
        </div></div>
    </span>
    <span class="half-width align-right" style="width: 20%;">
        <div class="blackdiv">
                <div class="blackspan">Look:</div>
        </div>
    </span>

    <span class="half-width align-left">
        <div class="blackdiv"><div class="print-whitebar">
                <span class="blackspan">Drive:</span>
        </div></div>
        <div class="blank-space"></div>
        <div class="blank-space"></div>
        <div class="blank-space"></div>
    </span>
    <span class="half-width align-right">
        <div class="blank-space"></div>
        <div class="blank-space"></div>
        <div class="blank-space"></div>
    </span>
    <span class="half-width align-right">
        <div class="blackdiv"><div class="print-whitebar">
            <span class="blackspan">Player:</span>
        </div></div>
    </span>

    <div class="blackdiv align-right">
        Assign these scores to your stats: 16 (+2), 15 (+1), 13 (+1), 12 (+0), 9 (+0), 8 (-1)
    </div>

{% for att in "123456" %}
    <div class="stats">
        <div class="attribute">{% cycle "Strength" "Dexterity" "Constitution" "Intelligence" "Wisdom" "Charisma" %}</div>
            <div class="frame"><hr></div>
        <div class="att">{% cycle "STR" "DEX" "CON" "INT" "WIS" "CHA" %}</div>
    </div>
{% endfor %}

    <span class="half-width third"><div class="blackdiv left">
        <div class="print-whitebar">
            <span class="blackspan">Armor:</span>
        </div>
    </div></span>
    <span class="half-width third"><div class="blackdiv">
        <div class="print-whitebar">
            <span class="blackspan">Damage:</span>
        </div>
    </div></span>
    <span class="half-width third"><div class="blackdiv right">
        <div class="print-whitebar">
            <span class="blackspan">Level:</span>
        </div>
    </div></span>
    <span class="half-width third"><div class="blackdiv left">
        <div class="print-whitebar">
            <span class="blackspan">HP:</span>
        </div>
    </div></span>
    <span class="half-width third"><div class="blackdiv">
        <div class="print-whitebar">
            <span class="blackspan">Forward:</span>
        </div>
    </div></span>
    <span class="half-width third"><div class="blackdiv right">
        <div class="print-whitebar">
            <span class="blackspan">XP:</span>
        </div>
    </div></span>


    <span class="half-width align-left">
        <div class="blackdiv">
            <span class="blackspan">Bonds:</span>
        </div>
        <div class="blank-space"></div>
        <div class="blank-space"></div>
        <div class="blank-space"></div>
        <div class="blank-space"></div>
        <div class="blank-space"></div>
        <div class="blank-space"></div>
        <div class="blank-space"></div>
        <div class="blank-space"></div>
    </span>
    <span class="half-width align-right">
        <div class="blackdiv">
                <div class="blackspan">Gear:</div>
        </div>
        <div class="blank-space"></div>
        <div class="blank-space"></div>
        <div class="blank-space"></div>
        <div class="blank-space"></div>
        <div class="blank-space"></div>
        <div class="blank-space"></div>
        <div class="blank-space"></div>
        <div class="blank-space"></div>
        <div class="blank-space"></div>
        <div class="blank-space"></div>
        <div class="blank-space"></div>
        <div class="blank-space"></div>
    </span>
    <span class="half-width align-left">
        <div class="blackdiv"><div class="print-whitebar">
                <span class="blackspan">Aspect:</span>
        </div></div>
        <div class="blank-space"></div>
        <div class="blank-space"></div>
        <div class="blank-space"></div>
        <div class="blank-space"></div>
    </span>
    <span class="half-width align-right">
        <div class="blackdiv"><div class="print-whitebar">
            <span class="blackspan">Gold:</span>
        </div></div>
    </span>

    <div class="blackdiv align-right">
        <div class="print-whitebar">
            <span class="blackspan">Classes:</span>
        </div>
    </div>

</div></div>
{% endblock content %}
