{% extends 'base.html' %}

{% block pagetype %} class="character"{% endblock pagetype %}
    {% block html-head %}
        <meta name="robots" content="noindex">
        <title>New Character Class</title>
    {% endblock html-head %}
    {% block h1 %}<h1>Create A New Character</h1>{% endblock h1 %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <span class="half-width{% cycle '' ' align-right' %}"><div class="pad">
        <div class="blackbar">
            <h2>{{ field.label_tag }}</h2>
        </div>
        {{ field.errors }}
        <p>{{ field.help_text }}</p>
        {{ field }}
    </div></span>
    {% endfor %}
    <p>
        <button type='submit' class="button green">Create</button>
    </p>
</form>
<script>
    $('textarea').autoResize();
</script>
{% endblock content %}
