{% extends 'base.html' %}

{% block pagetype %} class="character"{% endblock pagetype %}
    {% block html-head %}
        <meta name="robots" content="noindex">
        <title>Character View</title>
    {% endblock html-head %}
    {% block h1 %}<h1>{{ object.form_name }}</h1>{% endblock h1 %}

{% block content %}
<div>
    <a href="/characters/" class="button grey">Return to Characters List</a>
</div>
<br />
<div>
{% for section, data in object.form_data.items %}
    <span class="half-width{% cycle '' ' align-right' %}"><div class="pad">
        <div class="blackbar">
            <h2>{{ section }}</h2>
        </div>
    {% comment %}Hacky type detection{% endcomment %}
    {% if data.strip %}
        <pre>{{ data.strip }}</pre>
    {% elif data.values %}
        {% for dd, dt in data.items %}
            <pre>{{ dd.strip }}: {{ dt.strip }}</pre>
        {% endfor %}
    {% else %}
        {% for li in data %}
            <pre>{{ li.strip }}</pre>
        {% endfor %}
    {% endif %}
    </div></span>
{% endfor %}
</div>
{% endblock content %}
