    <div class="p8x11"><div class="white-rounded">
        <span class="half-width">
            <div class="whitediv">
                <div class="classname">
                    {{ object.class_name }}
                </div>
            </div>
    {% if object.starting_left.strip %}
        <div class="box">
            <div class="blackdiv">
                <div class="blackspan">Starting Move</div>
            </div>
            <div class="whitediv">
                <div class="text">{{ object.starting_left.strip|linebreaks }}</div>
            </div>
        </div>
    {% endif %}
        <div class="box">
            <div class="blackdiv">
                <div class="blackspan">Advanced Moves 2-5</div>
            </div>
            <div class="whitediv">
                <div class="text">{{ object.advanced_low.strip|linebreaks }}</div>
            </div>
        </div>
        </span>
        <span class="half-width align-right">
    {% if object.starting_right.strip %}
        <div class="box">
            <div class="blackdiv">
                <div class="blackspan">Starting Move</div>
            </div>
            <div class="whitediv">
                <div class="text">{{ object.starting_right.strip|linebreaks }}</div>
            </div>
        </div>
    {% endif %}
        <div class="box">
            <div class="blackdiv">
                <div class="blackspan">Advanced Moves 6-10</div>
            </div>
            <div class="whitediv">
                <div class="text">{{ object.advanced_high.strip|linebreaks }}</div>
            </div>
        </div>
        </span>
    </div></div>
