{% extends 'base.html' %}

{% block pagetype %} class="compendium"{% endblock pagetype %}
    {% block html-head %}
        <meta name="robots" content="noindex">
        <title>Compendium Class Edit Page</title>
    {% endblock html-head %}
    {% block h1 %}<h1>Customize {{ object.form_name }}</h1>{% endblock h1 %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="fieldWrapper">
        {{ form.form_name.errors }}
        <label for="{{ form.form_name.id_for_label }}">Class Name</label>
       <p> {{ form.form_name }}</p>
    </div>
    <p>
        <button type='submit' class="button blue">Change Name</button>
    </p>
</form>

<form method="post" action="/compendiumclasses/{{ compendium_class.id }}/link_section">
    {% csrf_token %}
    <select id="sec_id" name="sec_id">
        <option value="" selected="selected">---------</option>
    {% for section in compendium_class.available_sections %}
        <option value="{{ section.id }}">{{ section.field_name }}</option>
    {% endfor %}
    </select>
    <button type='submit' class="button green">Add Existing Section</button>
</form>
<hr />

{% for choice_section in compendium_class.choicesection_set.all %}
    <div class="compendium-section">
        <span class="half-width">
        {% with choice_section.base_choice as section %}
            <div class="blackbar">
                <a href="/compendiumclasses/{{ compendium_class.id }}/remove_section/{{ section.id }}"
                    class="align-right button red">Remove</a>
                <h2 class="blackbar">{{ section.field_name }}</h2>
            </div>
            <p>{{ section.instructions }}</p>
            <a href="/compendiumclasses/{{ compendium_class.id }}/edit_section/{{ section.id }}"
                class="align-right button blue">Edit {{ section.field_name }}</a>
            <div>{% if not section.cross_combine %}Do Not {% endif %}Cross Combine</div>
            <div>Field Type: {{ section.choice_type }}</div>
            <div>Selections: {{ section.min_selects }}-{{ section.max_selects }}</div>
        {% endwith %}
        </span>
        <span class="half-width">
            <ul>
            {% for choice in choice_section.choice_set.all %}
                <li>{{ choice.text }}</li>
            {% endfor %}
            </ul>
        </span>
    </div>
    <hr />
{% endfor %}

<a href="/compendiumclasses/{{ object.id }}/create_section" class="button green">Create New Class Section</a>
{% endblock content %}
