{% extends 'base.html' %}

{% block pagetype %} class="compendium"{% endblock pagetype %}
    {% block html-head %}
        <meta name="robots" content="noindex">
        <title>Compendium Class Edit Page</title>
    {% endblock html-head %}
    {% block h1 %}<h1>Customize Compendium Class</h1>{% endblock h1 %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="fieldWrapper">
        {{ form.form_name.errors }}
        <label for="{{ form.form_name.id_for_label }}">Class Name</label>
       <p> {{ form.form_name }}</p>
    </div>
    <p>
    <button type='submit' class="button blue">Update</button>
    </p>
</form>
{% endblock content %}

