{% extends 'base.html' %}

{% block pagetype %} class="main"{% endblock pagetype %}
    {% block html-head %}
        <link rel="canonical" href="http://classalchemy.pythonanywhere.com/" />
        <title>Class Alchemy Homepage</title>
    {% endblock html-head %}


{% block headermenu %}
    {{ block.super }}
    {% if user.is_authenticated %}
        <div class="header">
        {% include 'submenu.html' %}
        </div>
    {% endif %}
{% endblock headermenu %}


{% block h1 %}
    <h1{% if not user.is_authenticated %} class="high-top"{% endif %}>
        <img id="tricon" src="/static/tricon.png" />Class Alchemy</h1>
{% endblock h1 %}


{% block content %}
<p>
    Hello Dungeon World fans! Happy DROP TABLES Monday!
</p>
<p class="yellow">
    This website is: <b>Beta Stage</b>, it is technically possible to get this site to function. Still working on it, loss of data may still happen, but will no longer be constant. Last update of "Last Update": 2015-09-10.
</p>
{% endblock content %}
