{% extends 'base.html' %}

{% block pagetype %} class="main"{% endblock pagetype %}
    {% block html-head %}
        <link rel="canonical" href="http://classalchemy.pythonanywhere.com/" />
        <title>Class Alchemy Homepage</title>
    {% endblock html-head %}


{% block h1 %}
    <h1{% if not user.is_authenticated %} class="high-top"{% endif %}>
        <img id="tricon" src="/static/tricon.png" />Class Alchemy</h1>
{% endblock h1 %}


{% block content %}
<p>
    Hello Dungeon World fans! Happy DROP TABLES Monday!
</p>
<p>
    <a href="/BaseCharacterSheet">New Blank Dungeon World Character Sheet</a> * moves not included.
</p>
<p>
    After ignoring proponents of Dungeon World who wanted to write their name on a playbook sheet instead of building a character I've independantly reconsidered the design and presentation of compendium classes. I think everyone will agree my new design will be easy to use and clearly how compendium classes should have been implemented in the first place.
</p>
<p>
    The Basic Idea: The first page of a compendium class contains general information and options used when creating a character. The second page is the moves list including levelup options and should be kept with the main character sheet for gameplay reference. Before this system most compendium classes took up 4 pages and did not seperate the information this way. Not many people wanted to flip thru 13-15 pages while roleplaying but hopefully 4 pages will sound more reasonable.
</p>
<p class="yellow">
    Massive redesign, I'm dropping the complicated class merging.
</p>
<p class="yellow">
    Last update of "Last Update": 2016-07-05.
</p>
{% endblock content %}
