{% extends 'base.html' %}

{% block pagetype %} class="main"{% endblock pagetype %}
    {% block html-head %}
        <link rel="canonical" href="http://classalchemy.pythonanywhere.com/" />
        <title>Class Alchemy Homepage</title>
    {% endblock html-head %}
    {% block h1 %}Class Alchemy{% endblock h1 %}

{% block content %}
<p>
    Hello Dungeon World fans!
</p>
<p class="errorlist">
    This website is: <b>Non-Functional</b>, still working on it. Last update of "Last Update": 2015-06-14.
</p>
{% endblock content %}

