{% extends 'base.html' %}

{% block pagetype %} class="login"{% endblock pagetype %}
    {% block html-head %}
        <link rel="canonical" href="https://classalchemy.pythonanywhere.com/login" />
        <title>Class Alchemy Access Point</title>
    {% endblock html-head %}
    {% block h1 %}<h1>Tune In/ Turn On</h1>{% endblock h1 %}

{% block content %}
<form method="post">
    {{ form.non_field_errors }}
    {% csrf_token %}
    <div class="fieldWrapper">
        {{ form.username.errors }}
        <label for="{{ form.username.id_for_label }}">Username</label>
        {{ form.username }}
    </div>
    {{ form.password.errors }}
    <button type="submit" class="button blue">Login</submit>
</form>
{% endblock content %}
