{% load staticfiles %}
<!DOCTYPE html>
<html lang="en"><head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="canonical" href="http://classalchemy.pythonanywhere.com/" />
    <title>Class Alchemy</title>
    <link rel="stylesheet" type="text/css" href="{% static "base.css" %}">
</head><body>

<div class="header">
    <h2 class="hpad">Class Alchemy</h2>
</div>
<div id="summary">
    <h1 class="dpad">Hello Dungeon World</h1>
</div>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type='submit'>Login</submit>
</form>
</body></html>

