{% extends 'base.html' %}

{% block pagetype %} class="paq"{% endblock pagetype %}
    {% block html-head %}
        <link rel="canonical" href="http://classalchemy.pythonanywhere.com/paq" />
        <title>Questions About Class Alchemy</title>
    {% endblock html-head %}
    {% block h1 %}<h1>Preemptively Answered Questions</h1>{% endblock h1 %}

{% block headermenu %}
    {{ block.super }}
    {% if user.is_authenticated %}
        <div class="header">
        {% include 'submenu.html' %}
        </div>
    {% endif %}
{% endblock headermenu %}

{% block content %}
<dl>
    <dt>What is DROP TABLES Monday</dt>
    <dd>Don't let the name fool you, it won't always be on a Monday. If you've lost any data due to site updates: then I guess you'll know better next time.</dd>
    <dt>Why can't I enter a password?</dt>
    <dd>Because I don't want to get any emails about how you've lost your password.</dd>
    <dt>Contact Info:</dt>
    <dd>No.</dd>
</dl>
{% endblock content %}

