{% extends 'base.html' %}

{% block pagetype %} class="compendium"{% endblock pagetype %}
    {% block html-head %}
        <meta name="robots" content="noindex">
        <title>Edit Class Section</title>
    {% endblock html-head %}
    {% block h1 %}<h1>Edit Class Section</h1>{% endblock h1 %}

{% block content %}
<form method="post">
<div class="compendium-section">
    <span class="half-width">
        <p>
        Used in classes:
        {% for comp in form.instance.base_ccobj_set.all %}
            <b>{{ comp.form_name }}{% if not forloop.last %},{% endif %}</b>
        {% endfor %}
        </p>
        <p>
            <a href="/compendiumclasses/{{ compendium_class.id }}"
                class="button grey">Return to {{ compendium_class.name }}</a>
        </p>
        {% csrf_token %}
        {{ form }}
    </span>
    <span class="half-width align-right">
        {% for inform in inlines %}
            {{ inform }}
        {% endfor %}
    </span>
    <span class="half-width">
        <p>
            <button type='submit' class="button yellow">Save</button>
        </p>
    </span>
</div>
</form>
{% endblock content %}
